NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_ID=

APPWRITE_API_KEY=
INITIAL_ADMIN_EMAILS=
KNURDZ_EMAIL_API_URL=
KNURDZ_EMAIL_API_KEY=
OPTIONAL_AI_API_KEY=
